# Copy this file to terraform.tfvars and fill in values before deploying
# Do not commit terraform.tfvars

environment = "dev"
aws_region  = "eu-central-1"
extension_layer_arn = "arn:aws:lambda:eu-central-1:187925254637:layer:AWS-Parameters-and-Secrets-Lambda-Extension:78"